USE [simple_db]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 4/29/2020 6:11:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[Id] [int] NOT NULL,
	[Description] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Genre] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 4/29/2020 6:11:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Subject] [varchar](50) NOT NULL,
	[Summary] [varchar](500) NOT NULL,
	[Ratting] [decimal](2, 1) NULL,
	[PreviewImgUrl] [varchar](max) NULL,
	[CoverImgUrl] [varchar](max) NULL,
 CONSTRAINT [PK_Movie] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieGenre]    Script Date: 4/29/2020 6:11:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieGenre](
	[MovieId] [int] NOT NULL,
	[GenreId] [int] NOT NULL,
 CONSTRAINT [PK_MovieGenre] PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC,
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Genre] ([Id], [Description]) VALUES (1, N'Comedy')
INSERT [dbo].[Genre] ([Id], [Description]) VALUES (2, N'Drama')
INSERT [dbo].[Genre] ([Id], [Description]) VALUES (3, N'Action')
SET IDENTITY_INSERT [dbo].[Movie] ON 

INSERT [dbo].[Movie] ([Id], [Subject], [Summary], [Ratting], [PreviewImgUrl], [CoverImgUrl]) VALUES (1, N'Hand of Peace: Pope Pius XII and the Holocaust, A', N'!@#$%^&*()', CAST(7.5 AS Decimal(2, 1)), N'http://dummyimage.com/207x100.jpg/dddddd/000000', N'http://dummyimage.com/153x174.png/ff4444/ffffff')
INSERT [dbo].[Movie] ([Id], [Subject], [Summary], [Ratting], [PreviewImgUrl], [CoverImgUrl]) VALUES (2, N'March of the Penguins (Marche de l''empereur, La)', N'??????T??????h??e???????? ???????N??e??z?????p??????e????r????????d??????i??????a?????n?? ?????h??i??v??e???-?????m???i????n??d?? ????o????????f ????????c???????h??a?????o????s?.?? ?Z????????a?????l?????g????????o??.?', CAST(7.3 AS Decimal(2, 1)), N'http://dummyimage.com/210x147.png/5fa2dd/ffffff', N'http://dummyimage.com/222x166.jpg/5fa2dd/ffffff')
INSERT [dbo].[Movie] ([Id], [Subject], [Summary], [Ratting], [PreviewImgUrl], [CoverImgUrl]) VALUES (3, N'Ambition', N'999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999', CAST(9.8 AS Decimal(2, 1)), N'http://dummyimage.com/129x164.bmp/ff4444/ffffff', N'http://dummyimage.com/110x128.bmp/cc0000/ffffff')
GO
SET IDENTITY_INSERT [dbo].[Movie] OFF
INSERT [dbo].[MovieGenre] ([MovieId], [GenreId]) VALUES (1, 1)
INSERT [dbo].[MovieGenre] ([MovieId], [GenreId]) VALUES (1, 9)
INSERT [dbo].[MovieGenre] ([MovieId], [GenreId]) VALUES (2, 1)
GO
ALTER TABLE [dbo].[MovieGenre]  WITH CHECK ADD  CONSTRAINT [FK_MovieGenre_Genre] FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genre] ([Id])
GO
ALTER TABLE [dbo].[MovieGenre] CHECK CONSTRAINT [FK_MovieGenre_Genre]
GO
ALTER TABLE [dbo].[MovieGenre]  WITH CHECK ADD  CONSTRAINT [FK_MovieGenre_Movie] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movie] ([Id])
GO
ALTER TABLE [dbo].[MovieGenre] CHECK CONSTRAINT [FK_MovieGenre_Movie]
GO
