@page "/genre/{id:int}"

@using System.Net.Http
@using Domain.Entities
@using Domain.Entities.Produces
@inject HttpClient Http

<h1>Movie List</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (_result.Items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Summary</th>
                <th>Ratting</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in _result.Items)
            {
                <tr>
                    <td>@movie.Subject</td>
                    <td>@movie.Summary</td>
                    <td>@movie.Ratting</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private PageResult<Movie> _result = new PageResult<Movie>();

    protected override async Task OnParametersSetAsync()
    {
        _result = await Http.GetJsonAsync<PageResult<Movie>>($"api/genre/{Id}/movies");
    }
}
